{:deps {org.clojure/clojure {:mvn/version "1.10.2"},
        org.clojure/core.async {:mvn/version "1.3.610"},
        org.clojure/tools.cli {:mvn/version "1.0.194"},
        org.clojure/data.csv {:mvn/version "1.0.0"},
        org.clojure/core.match {:mvn/version "1.0.0"}}}
